.ControlCalendar {
  display: flex;
  align-items: center;
  padding: 20px 0;

  p {
    margin-right: 10px;
    text-transform: capitalize;
    width: 150px;
  }

  @media (max-width: 750px) {
    justify-content: space-between;

    p {
      width: fit-content;
      margin-right: 0;
      font-size: 1.5rem;
      line-height: 130%;
    }
  }
}

.btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  font-size: 20px;
}

.left {
  margin-right: 10px;
}